@theme {
  /* --color-*: initial; */ 
  --color-white: #ffffff;
  --color-black: #000000;
  --color-inherit: inherit;
  --color-transparent: #00000000;

  --color-general-30: #F5F6FA;
  --color-general-40: #E6E9F4;
  --color-general-50: #D7DBEC;
  --color-general-60: #A1A7C4;
  --color-general-70: #7E84A3;
  --color-general-80: #5A607F;
  --color-general-90: #333752;
  --color-general-100: #131523;
  
  --color-primary-30: #ECF2FF;
  --color-primary-40: #D9E4FF;
  --color-primary-50: #B6CBFF;
  --color-primary-60: #89ABFF;
  --color-primary-70: #608DFF;
  --color-primary-80: #4F81FF;
  --color-primary-90: #336DFF;
  --color-primary-100: #1E5EFF;
  
  --color-secondary-30: #F4E9FE;
  --color-secondary-40: #E9D3FF;
  --color-secondary-50: #D8B1FF;
  --color-secondary-60: #B97FF3;
  --color-secondary-70: #A75EF1;
  --color-secondary-80: #9645E9;
  --color-secondary-90: #8125DF;
  --color-secondary-100: #6E0BD4;
  
  --color-red-30: #FDE7EA;
  --color-red-40: #FCD5D9;
  --color-red-50: #FAB3BC;
  --color-red-60: #F8919D;
  --color-red-70: #F45A6D;
  --color-red-80: #F34359;
  --color-red-90: #F12B43;
  --color-red-100: #F0142F;
  
  --color-green-30: #DAF9EC;
  --color-green-40: #C4F8E2;
  --color-green-50: #95F6CC;
  --color-green-60: #74EFB9;
  --color-green-70: #48E9A5;
  --color-green-80: #25E191;
  --color-green-90: #1FD286;
  --color-green-100: #06A561;
  
  --color-yellow-30: #FFF9E1;
  --color-yellow-40: #FFF4C9;
  --color-yellow-50: #FFECA3;
  --color-yellow-60: #FFE582;
  --color-yellow-70: #FFE45F;
  --color-yellow-80: #FFD613;
  --color-yellow-90: #FFC700;
  --color-yellow-100: #F99600;
}